# 0. 회사리스트 불러오기

In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup as bsp
import matplotlib as mpl
import matplotlib.pyplot as plt
import sqlite3

In [2]:
corplist = pd.read_csv('corplist200.csv', encoding='cp949')
corplist

    company    code
0      삼성전자    5930
1    SK하이닉스     660
2     NAVER   35420
3      LG화학   51910
4       현대차    5380
..      ...     ...
147    일양약품    7570
148  JW중외제약    1060
149   SPC삼립    5610
150     삼양사  145990
151     빙그레    5180

[152 rows x 2 columns]

In [3]:
stock_code = list(corplist['code'])

In [4]:
def convertcode(code):
    code = str(code)
    code = '0'*(6-len(code))+code
    return code

# 1. DB생성

In [5]:
def createdb(code):
    con = sqlite3.connect('./뉴스/news_{}.db'.format(code))
    type(con)
    sqlite3.Connection
    cursor = con.cursor()
    cursor.execute("CREATE TABLE news(idx integer, title text, date text, url text, key text unique, content text, primary key(idx autoincrement))")

In [6]:
for code in stock_code:
    dbname = convertcode(code)
    createdb(dbname)

# 2. 뉴스 3사 DB 병합

In [7]:
def concatdb(company):
    code = corplist[corplist['company']==company]['code'].values[0]
    code = convertcode(code)
    dbname = './뉴스/news_{}.db'.format(code)
    db1 = './뉴스/연합인포맥스/yinfo_{}.db'.format(company)
    db2 = './뉴스/이데일리/{}_ed_news.db'.format(company)
    db3 = './뉴스/한경/{}_hk_news.db'.format(company)
    with sqlite3.connect(db1) as conn:
        cur=conn.cursor()
        sql='select * from news'
        result1 = cur.execute(sql).fetchall()
    with sqlite3.connect(db2) as conn:
        cur=conn.cursor()
        sql='select * from news'
        result2 = cur.execute(sql).fetchall()
    with sqlite3.connect(db3) as conn:
        cur=conn.cursor()
        sql='select * from news'
        result3 = cur.execute(sql).fetchall()
    with sqlite3.connect(dbname) as conn:
        cur=conn.cursor()
        for i in range(len(result1)):
            sql='insert into news (title,date,url,key,content) values (?,?,?,?,?)'
            cur.execute(sql, result1[i][1:])
        for i in range(len(result2)):
            sql='insert into news (title,date,url,key,content) values (?,?,?,?,?)'
            cur.execute(sql, result2[i][1:])
        for i in range(len(result3)):
            sql='insert into news (title,date,url,key,content) values (?,?,?,?,?)'
            cur.execute(sql, result3[i][1:])
        sql = 'select count(*) from news'
        result = cur.execute(sql).fetchall()
        print(len(result1),len(result2),len(result3),result)

In [8]:
for i in range(len(corplist)):
    company = corplist['company'][i]
    print(company)
    try:
        concatdb(company)
    except:
        print('에러:',company)

삼성전자
830 2841 6092 [(9763,)]
SK하이닉스
1017 916 1518 [(3451,)]
NAVER
에러: NAVER
LG화학
243 593 1230 [(2066,)]
현대차
731 2998 5986 [(9715,)]
삼성바이오로직스
50 283 430 [(763,)]
카카오
564 2024 3106 [(5694,)]
삼성SDI
66 294 573 [(933,)]
기아차
382 1132 2148 [(3662,)]
POSCO
에러: POSCO
현대모비스
121 364 847 [(1332,)]
LG전자
452 1342 2793 [(4587,)]
LG생활건강
43 165 290 [(498,)]
삼성물산
135 356 597 [(1088,)]
KB금융
217 365 870 [(1452,)]
SK텔레콤
156 579 780 [(1515,)]
엔씨소프트
59 321 413 [(793,)]
SK이노베이션
71 0 465 [(536,)]
신한지주
31 96 164 [(291,)]
SK
에러: SK
삼성생명
165 200 627 [(992,)]
LG
에러: LG
한국전력
9 200 382 [(591,)]
삼성에스디에스
에러: 삼성에스디에스
아모레퍼시픽
86 279 519 [(884,)]
삼성전기
54 340 628 [(1022,)]
하나금융지주
9 62 134 [(205,)]
KT&G
에러: KT&G
롯데케미칼
70 199 259 [(528,)]
한온시스템
13 58 108 [(179,)]
S-Oil
에러: S-Oil
삼성화재
127 198 492 [(817,)]
LG디스플레이
89 311 486 [(886,)]
고려아연
1 44 97 [(142,)]
금호석유
12 81 154 [(247,)]
현대글로비스
57 181 329 [(567,)]
KT
에러: KT
기업은행
125 407 1623 [(2155,)]
CJ제일제당
98 395 460 [(953,)]
현대제철
83 228 363 [(674,)]
강원랜드
3 193 472 [(668,)]
LG유플러스
97 465 885 [(1447,)]
아모레G
0 13 121 [(134,)]
오리온
49 342 658 [(1049,)]
LG이노텍
57 229 368 [(654,)]
이마트
191 1045 1568 [(2804,)]
대한항공
282 825 1789 [(2896,)]
한국금융지주
9 51 128 [(188,)]
현대건설
179 413 1050 [(1642,)]
코웨이
68 379 386 [(833,)]
녹십자
10 365 486 [(861,)]
두산중공업
12 125 339 [(476,)]
유한양행
0 145 136 [(281,)]
SKC
55 297 357 [(709,)]
삼성중공업
20 118 328 [(466,)]
한미사이언스
1 16 49 [(66,)]
삼성카드
99 165 385 [(649,)]
CJ대한통운
에러: CJ대한통운
한미약품
2 227 213 [(442,)]
팬오션
4 65 85 [(154,)]
GS
에러: GS
한국항공우주
3 24 149 [(176,)]
롯데쇼핑
86 382 355 [(823,)]
GS건설
170 305 521 [(996,)]
동서
17 417 44 [(478,)]
롯데지주
32 97 170 [(299,)]
삼성증권
107 331 2127 [(2565,)]
쌍용양회
1 57 180 [(238,)]
호텔신라
44 272 406 [(722,)]
만도
33 86 211 [(330,)]
SK케미칼
19 108 273 [(400,)]
DB손해보험
16 49 126 [(191,)]
NH투자증권
66 192 1191 [(1449,)]
에스원
2 90 103 [(195,)]
GS리테일
44 168 261 [(473,)]
한국가스공사
2 74 119 [(195,)]
일진머티리얼즈
1 1 128 [(130,)]
BGF리테일
25 88 133 [(246,)]
삼성엔지니어링
31 100 217 [(348,)]
신세계
231 1162 2021 [(3414,)]
OCI
51 121 187 [(359,)]
CJ
에러: CJ
대우건설
200 407 564 [(1171,)]
한화생명
136 192 353 [(681,)]
하이트진로
42 333 511 [(886,)]
한솔케미칼
2 28 109 [(139,)]
DB하이텍
2 21 158 [(181,)]
한샘
8 309 387 [(704,)]
제일기획
8 123 188 [(319,)]
현대미포조선
7 72 183 [(262,)]
한화
765 2199 3991 [(6955,)]
현대로템
92 185 375 [(652,)]
현대위아
39 98 165 [(302,)]
BNK금융지주
5 28 73 [(106,)]
대한유화
2 34 123 [(159,)]
오뚜기
13 158 179 [(350,)]
현대해상
97 114 259 [(470,)]
LS
368 348 656 [(1372,)]
두산인프라코어
19 157 245 [(421,)]
현대백화점
71 180 482 [(733,)]
영원무역
0 13 111 [(124,)]
현대엘리베이
에러: 현대엘리베이
KCC
15 267 533 [(815,)]
효성
156 439 891 [(1486,)]
녹십자홀딩스
1 6 393 [(400,)]
농심
21 187 417 [(625,)]
종근당
1 150 324 [(475,)]
아이에스동서
1 48 99 [(148,)]
코오롱인더
22 60 44 [(126,)]
부광약품
1 60 112 [(173,)]
대웅제약
5 246 198 [(449,)]
롯데정밀화학
18 54 81 [(153,)]
SK네트웍스
67 163 214 [(444,)]
한국콜마
29 39 211 [(279,)]
한전KPS
4 80 130 [(214,)]
동원시스템즈
8 0 59 [(67,)]
코스맥스
11 148 262 [(421,)]
한올바이오파마
1 32 104 [(137,)]
이노션
21 128 149 [(298,)]
영진약품
0 15 71 [(86,)]
보령제약
3 55 103 [(161,)]
세방전지
0 2 41 [(43,)]
금호타이어
102 328 419 [(849,)]
동국제강
44 119 153 [(316,)]
LG상사
39 77 145 [(261,)]
롯데칠성
32 121 148 [(301,)]
영풍
1 53 143 [(197,)]
GKL
2 88 95 [(185,)]
태광산업
0 19 49 [(68,)]
현대그린푸드
17 73 99 [(189,)]
CJ CGV
에러: CJ CGV
후성
에러: 후성
휴켐스
1 21 54 [(76,)]
한섬
6 0 191 [(197,)]
현대홈쇼핑
20 178 163 [(361,)]
한세실업
0 65 122 [(187,)]
풍산
5 58 158 [(221,)]
오리온홀딩스
1 2 22 [(25,)]
대상
에러: 대상
LIG넥스원
12 147 193 [(352,)]
한전기술
1 57 93 [(151,)]
두산
443 1314 3668 [(5425,)]
락앤락
2 140 113 [(255,)]
삼양홀딩스
1 9 24 [(34,)]
동원F&B
에러: 동원F&B
넥센타이어
8 113 93 [(214,)]
LG하우시스
7 147 270 [(424,)]
일양약품
0 25 106 [(131,)]
JW중외제약
0 68 86 [(154,)]
SPC삼립
7 70 102 [(179,)]
삼양사
2 35 61 [(98,)]
빙그레
11 108 140 [(259,)]

# 4. 병합에러 확인
- 병합에러.xlsx 참고
- 회사명과 파일명 불일치(ex.naver 네이버)

In [11]:
def concatdb2(company,code):
    dbname = './뉴스/news_{}.db'.format(code)
    db1 = './뉴스/연합인포맥스/yinfo_{}.db'.format(company)
    db2 = './뉴스/이데일리/{}_ed_news.db'.format(company)
    db3 = './뉴스/한경/{}_hk_news.db'.format(company)
    with sqlite3.connect(db1) as conn:
        cur=conn.cursor()
        sql='select * from news'
        result1 = cur.execute(sql).fetchall()
    with sqlite3.connect(db2) as conn:
        cur=conn.cursor()
        sql='select * from news'
        result2 = cur.execute(sql).fetchall()
    with sqlite3.connect(db3) as conn:
        cur=conn.cursor()
        sql='select * from news'
        result3 = cur.execute(sql).fetchall()
    with sqlite3.connect(dbname) as conn:
        cur=conn.cursor()
        for i in range(len(result1)):
            sql='insert into news (title,date,url,key,content) values (?,?,?,?,?)'
            cur.execute(sql, result1[i][1:])
        for i in range(len(result2)):
            sql='insert into news (title,date,url,key,content) values (?,?,?,?,?)'
            cur.execute(sql, result2[i][1:])
        for i in range(len(result3)):
            sql='insert into news (title,date,url,key,content) values (?,?,?,?,?)'
            cur.execute(sql, result3[i][1:])
        sql = 'select count(*) from news'
        result = cur.execute(sql).fetchall()
        print(len(result1),len(result2),len(result3),result)

In [49]:
company = '대상'
code = '001680'
try:
    concatdb2(company,code)
except:
    print('에러:',company)

581 855 112 [(1548,)]

In [47]:
corplist[corplist['company']=='대상']

    company  code
138      대상  1680